/* Estilos para el contenedor principal del modal y el fondo oscuro */
#sector-modal {
  @apply fixed inset-0 z-[1500] flex justify-center bg-gray-900 bg-opacity-75;
}

/* Estilos para la caja de contenido del modal */
.modal-content {
  @apply bg-white rounded-lg shadow-2xl relative w-11/12 max-w-2xl max-h-[90vh] mx-auto mb-4 mt-8 flex flex-col;
}

/* Estilos para el botón de cerrar */
.modal-close-btn {
  @apply absolute top-4 right-4 z-30;
}

.modal-close-icon {
  @apply w-8 h-8 p-1 bg-gray-200 rounded-full border-2 border-gray-300 transition-transform duration-300 ease-in-out;
}

.modal-close-icon:hover {
  @apply transform scale-110;
}

/* Estilos para el cuerpo del modal donde se inyecta el contenido */
#modal-body {
  @apply p-6 sm:p-8 flex-grow overflow-y-auto;
}

/* Estilos para los textos de carga y error */
.loading-text, .error-text {
  @apply text-center text-gray-600 text-xl p-12;
}

.error-text {
  @apply text-red-500;
}

/* Estilos para la animación de carga */
.loader-container {
  @apply relative flex items-center justify-center w-40 h-40;
}

.loader-ring {
  @apply absolute border-4 border-primary rounded-full;
  animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.loader-ring:nth-child(2) {
  animation-delay: -0.5s;
}

.loader-logo {
  @apply absolute w-16 h-16;
}

@keyframes pulse-ring {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
